.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body-text {
  color: #282c28;
}

.my-form {
  border: thin solid grey;
  padding: 2rem;
  margin: 2rem;
  display: flex;
}

.my-form-text {
  margin: 2rem;
  display: flex;
  font-size: 1em;
}

.big-text {
  margin: 2rem;
  font-size: 2em;
  text-align: center;
}

.small-text {
  margin: 2rem;
  font-size: 1em;
  text-align: center;
}

.photo {
  height: 250px;
  width: 250px;
}

.price-list-text {
  margin: 2rem;
  font-size: 1em;
  text-align: center;
}

.formtext {
  position: relative;
  top: -48px;
  background: white;
  padding: 7px;
  width: 57px;
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
